
@font-face {
    font-family:"PlainGermanica Regular";
    src:url("Plain Germanica.woff2") format("woff2"),url("Plain Germanica.woff") format("woff"),url("Plain Germanica.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        