
@font-face {
    font-family:"DS Fette Gotisch";
    src:url("DSFetteGotisch.woff2") format("woff2"),url("DSFetteGotisch.woff") format("woff"),url("DSFetteGotisch.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        